<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<th:block layout:fragment="content">
	<div class="row">
    <div class="col text-center mb-3 mt-3">
      <h3>주문내역</h3>
    </div>
  </div>
  <div class="row">        
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 10%;">주문번호</th>
            <th scope="col" style="width: 20%;">상품이미지</th>
            <th scope="col" style="width: 15%;">상품이름</th>
            <th scope="col" style="width: 15%;">비고</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each= "item : ${order_list}">
            <td>
              [[${#temporals.format(item.ord_regdate, 'yyyy-MM-dd')}]] <br> [[${item.ord_code}]] 
            </td>
            <td>
              <a th:href="|/order/pro_preinfo?pro_num=${item['pro_num']}|">
              <img style="width: 100px;height: 100px;" th:src="${'/order/image_display?dateFolderName=' + item.pro_up_folder + '&fileName=s_' + item.pro_img}">
              </a>
            </td>
            <td th:text="${item['pro_name']}"></td>
            <td><button type="button" class="btn btn-outline-success">상품평쓰기</button></td>
          </tr>
        </tbody>        
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-footer clearfix">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
          <!-- 이전표시여부 Previous  pageMaker.getPrev() -->
          <th:block th:if="${pageMaker.prev}">
            <li class="page-item"><a class="page-link" th:href="|/order/order_list${pageMaker.makeSearch(pageMaker.startPage - 1)}|">Previous</a></li>
          </th:block>
            <!--  페이지번호 출력.  1  2  3  4  5 -->
            <th:block th:each="num : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}">
            <li class="page-item" th:classappend="${pageMaker.cri.page == num ? 'active' : ''}">
              <a class="page-link" th:href="|/order/order_list${pageMaker.makeSearch(num)}|" th:text="${num}"></a>
            </li>        
            </th:block>
          
          <!--  다음표시여부 Next -->
          <th:block th:if="${pageMaker.next}">
            <li class="page-item"><a class="page-link" th:href="|/order/order_list${pageMaker.makeSearch(pageMaker.endPage + 1)}|">Next</a></li>
          </th:block>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  
</th:block>
</html>