<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bongmall.basic.admin.category.AdCategoryMapper">

	<select id="getFirstCategoryList" resultType="com.bongmall.basic.admin.category.CategoryVO">
		
		select 
			cate_code,cate_prtcode,cate_name 
		from 
			category_tbl
		where 
			cate_prtcode is null
		
	</select>
	
	<select id="getSecondCategoryList" parameterType="Integer" resultType="com.bongmall.basic.admin.category.CategoryVO">
	
		select 
			cate_code,cate_prtcode,cate_name 
		from 
			category_tbl
		where 
			cate_prtcode = #{cate_prt_code}
	
	
	</select>
	
	<select id="getFirstCategoryBySecondCategory" resultType="com.bongmall.basic.admin.category.CategoryVO">
 
 	select 
 		cate_code, cate_prtcode, cate_name 
 	from 
 		category_tbl
	where 
		cate_code  = #{secondCategory}
 
 </select>

</mapper>