<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bongmall.basic.admin.AdminMapper">

	<select id="admin_ok" resultType="com.bongmall.basic.admin.AdminDto">
	
		select 
			ad_userid, ad_passwd, login_date
		from 
			admin_tbl
		where
			ad_userid = #{ad_userid}
	
	</select>

</mapper>