<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bongmall.basic.admin.product.AdProductMapper">

	<insert id="pro_insert" parameterType="com.bongmall.basic.admin.product.ProductVO">
	
		insert into 
			product_tbl(cate_code,pro_name,pro_price,pro_discount,pro_publisher,pro_content,pro_up_folder,pro_img,pro_amount,pro_buy) 
		values(#{cate_code},#{pro_name},#{pro_price},#{pro_discount},#{pro_publisher},#{pro_content},#{pro_up_folder},#{pro_img},#{pro_amount},#{pro_buy})	
	
	</insert>
	
	<select id="pro_list" resultType="com.bongmall.basic.admin.product.ProductVO" parameterType="com.bongmall.basic.common.utils.SearchCriteria">
	
		select 
			pro_num,cate_code,pro_name,pro_price,pro_discount,pro_publisher,pro_content,pro_up_folder,pro_img,pro_amount,pro_buy, pro_review, pro_date,pro_updatedate
		from 
			product_tbl
		where
			pro_num > 0
					
		<include refid="search"></include>
			
		limit #{pageStart}, #{perPageNum}
	
	</select>
	
	<select id="getTotalCount" resultType="int">
	
		select
			count(*)
		from 
			product_tbl
		where 
			pro_num > 0
			
		<include refid="search"></include>
	
	</select>
	
  <sql id="search">
   <if test="searchType != null">
   	<if test="searchType == 'n'.toString()">
   		and pro_name like concat('%', #{keyword}, '%')
   	</if>
   	<if test="searchType == 'c'.toString()">
   		and pro_num like concat('%', #{keyword}, '%')
   	</if>
   	<if test="searchType == 'p'.toString()">
   		and pro_publisher like concat('%', #{keyword}, '%')
   	</if>
   	<if test="searchType == 'np'.toString()">
   		and pro_name like concat('%', #{keyword}, '%') 
   		 or
   		pro_publisher like concat('%', #{keyword}, '%')
   	</if>
   </if>
 </sql>
 
 <!-- delete from product_tbl where pro_num in (1, 2, 3) -->
 <delete id="pro_sel_delete_2">
 
 	delete from 
 			product_tbl
 		where 
 			pro_num in
 	
 	<foreach collection="pro_num_arr" item="item" open="("  separator="," close=")" >
 	
 		#{item}
 		
 	</foreach>
 
 </delete>
 
 <delete id="pro_sel_delete_3">
 
 	delete from 
 			product_tbl
 		where 
 			pro_name = #{pro_name}
 		and
 			pro_num in
 	
 	<foreach collection="pro_num_arr" item="item" open="("  separator="," close=")" >
 	
 		#{item}
 		
 	</foreach>
 
 </delete>
 
 <select id="pro_edit_form" resultType="com.bongmall.basic.admin.product.ProductVO">
 
 	select 
 		pro_num,cate_code,pro_name,pro_price,pro_discount,pro_publisher,pro_content,
		pro_up_folder,pro_img,pro_amount,pro_buy,pro_date,pro_updatedate
	from 
		product_tbl
	where 
		pro_num = #{pro_num}
 
 </select>
 
 <update id="pro_edit_ok" parameterType="com.bongmall.basic.admin.product.ProductVO">
 
 	update 
 		product_tbl
	set 
		cate_code = #{cate_code}, pro_name = #{pro_name}, pro_price = #{pro_price}, pro_discount = #{pro_discount} , pro_publisher = #{pro_publisher}, pro_content  = #{pro_content},
		pro_up_folder  = #{pro_up_folder}, pro_img  = #{pro_img}, pro_amount  = #{pro_amount}, pro_buy = #{pro_buy}, pro_updatedate = now()
	where 
		pro_num = #{pro_num}
 
 </update>
 
 <delete id="pro_delete" parameterType="Integer">
 
 	delete from 
 		product_tbl
 	where 
		pro_num = #{pro_num}
		
 </delete>

</mapper>